.block {
    width: 25vw;
    height: auto;
    padding: 0.5rem;
    background-color: gray;
}


.valid {
    background-color: rgba(0,2555,0,1);
}

.invalid {
    background-color: red;
}

.block .header {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem 0;
}

.block .meta {

}

.block .meta table {
    width: 100%;
    margin: 0.5rem 0;
    border: 1px solid black;
}

.block .meta td {
    border: 1px solid black;
    padding: 0 0.5rem
}

.block .txns {
    color: red;
}

.block .txns table {
    margin: 0.5rem 0;
    width: 100%;
    border: 1px solid black;
}

.block .txns td {
    border: 1px solid black;
    padding: 0 0.5rem
}